[submodule "lib/foundry-random"]
	path = lib/foundry-random
	url = https://github.com/joejordan/foundry-random
[submodule "lib/openzeppelin-contracts-500"]
	path = lib/openzeppelin-contracts-500
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
