node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
docs/modules/api/pages/**/*adoc
cache
artifacts

# forge files
cache_forge
artifacts_forge
lcov.info 

# brownie
build
test_brownie/__pycache__

# mac
.DS_Store

# custom stuff
*.log
deployment_state_*.json
libraries_*.json
verification_queue_*.json
lcov.info
.*.drawio.bkp